@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');


body{
    font-family: 'poppins', sans-serif;
    font-weight: 300px;
    line-height: 1.;
    margin: auto;
    color:white;
    width: 100%;
    justify-content: center;
    background-image: url('img/dev1.jpg');
    background-position: center;
    background-attachment: fixed, scroll;
}

.cabecalho{
    font-size: 35px;
    margin: 0;
    display: block;
    text-align: center; 
}

.Estrutura{
    background-color: #c11ff23f;
    font-size: 30px;
    margin: 0;
    padding: 30%;
    display: block;
}

input{
    width: 100%;
    padding: 8px 0px;
    margin: 8px 0px;
}

